<%- include('../partials/layout-start.ejs'), { title: title } %>
<div class="container">
    <h1 class="mb-4"><%= title %></h1>
    <a href="/books/create" class="btn btn-primary mb-2">Добавить книгу</a>
    <% if (books.length) { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% books.forEach((book, idx) => { %>
                    <tr>
                        <th scope="row"><%= idx + 1 %></th>
                        <td><%= book.title %></td>
                        <td class="d-flex justify-content-end">
                            <a href="/books/<%= book._id %>" class="btn btn-success"><i class="bi bi-eye"></i></a>
                            <a href="/books/edit/<%= book._id %>" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                            <form action="/books/delete/<%= book._id %>" method="post">
                                <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>Пока нет книг</p>
    <% } %>
</div>
<%- include('../partials/layout-end.ejs') %>
